<a href="https://colab.research.google.com/github/sayeedafathima/ores-02/blob/main/data_cleaning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [30]:
data = pd.read_csv('U.S. Household Mental Health & Covid-19.csv')

In [31]:
data.shape

(3828, 16)

In [43]:
data.dtypes

Indicator                  object
Group                      object
State                      object
Subgroup                   object
Time Period                 int64
Time Period Start Date     object
Time Period End Date       object
Value                     float64
dtype: object

In [48]:
data['Time Period Start Date'] = pd.to_datetime(data['Time Period Start Date'])
data['Time Period End Date'] = pd.to_datetime(data['Time Period End Date'])

In [49]:
data.dtypes

Indicator                         object
Group                             object
State                             object
Subgroup                          object
Time Period                        int64
Time Period Start Date    datetime64[ns]
Time Period End Date      datetime64[ns]
Value                            float64
dtype: object

In [26]:
data1 = data.drop(['index','Phase', 'Time Period Label', 'LowCI', 'HighCI', 'Confidence Interval', 'Quartile Range','Suppression Flag'], axis=1, inplace= True)

In [51]:
data.to_csv('cleaned_Dataset2.csv', index=False)